@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cafe24ClassicType";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "ChosunIlboMyungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

* {
  font-family: "ChosunIlboMyungjo", serif;
}

/* 스크롤바 숨기기 */
.result-content-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.result-content-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
